@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#1B2029;
    --secondary-color:#1a1616;
}

body{
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
}


header{
    padding:1rem;
    display:flex;
    justify-content: center;
    background-color: var(--secondary-color);
}


.search{
    background-color:  var(--primary-color);
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
    margin-left: 0rem;
}

.search:focus{
    outline:0;
}

.search::placeholder{
    color: #fff;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
    background-color: var(--secondary-color);
    color: #eee;
}


.movie img{
    width:100%;
}
.movie:hover  img{
    transition: all 0.3s ease-out;
    opacity: 0.03;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    
}

.movie:hover .movie-info  {
    opacity: 0;
}

.movie-info h3{
    margin-top: 0;

}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:#00FF00;
}

.movie-info span.orange{
    color:#FFA500;
}

.movie-info span.red{
    color:#FF0000;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #eee, transparent);  
  }

.overview{
    position:absolute;
    color: #fff;
    left:0;
    right:0;
    bottom:0;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in-out;

    
}

.overview p{
    
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
    
}


.movie:hover .overview{
    transform:translateY(0)
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:white;
    padding:10px 20px;
    background-color: #808080;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
}

.tag.highlight{
    background-color: #AB2420;
}
.no-results{
    color:white;
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
}


  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


